<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:datasource="http://siling.com/schema/datasource"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://siling.com/schema/datasource http://siling.com/schema/datasource/datasource-1.0.xsd">
   
    <mvc:annotation-driven />  <!-- 解析controller，仅对controller有效 https://my.oschina.net/HeliosFly/blog/205343 --> 
    <mvc:default-servlet-handler/>   <!-- 用于servlet请求静态页面 http://www.cnblogs.com/fangqi/archive/2012/10/28/2743108.html -->
    <!-- 为什么不配在dispatcher-servlet.xml  父子容器问题 https://segmentfault.com/q/1010000003901757 -->                
	<context:component-scan base-package="com.controller" /> 
	
	<context:component-scan base-package="com.service.impl" />
	<context:component-scan base-package="com.dao" />
	<!-- <bean id="dataSourceExchange" class="com.dataSource.DataSourceExchange"/> -->
	
</beans>